.flex {
    display: flex;
    flex-wrap: wrap;
}

.nav-bar {
    position: relative;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}